@import "tailwindcss";

@font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway.ttf") format("truetype");
}
@font-face {
    font-family: "Noto Sans Arabic";
    src: url("/fonts/noto.ttf") format("truetype");
}
@font-face {
    font-family: "TT Ramillas Trl";
    src: url("/fonts/ramilas.ttf") format("truetype");
}

@theme {
    --font-ramillas: "TT Ramillas Trl";
    --font-raleway: "Raleway";
    --font-noto: "Noto Sans Arabic";
}

@media (max-width: 1900px) {
    .arrows {
        font-size: 25px;
    }
}
@media (min-width: 1900px) {
    .arrows {
        font-size: 30px;
    }
}
